<footer class="bg-body-tertiary text-center text-lg-start mt-5">
    <!-- Grid container -->
     <div style="background-color: rgba(1, 1, 1, 1);" >

    <div class="container p-4 ">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">РАЗДЕЛЫ</h5>
  
          <ul class="list-unstyled mb-0 pt-3" style="line-height: 28px;">
            <li>
              <a href="#!" class="text-white nav-link">ФИЛЬМЫ </a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">АКТЕРЫ</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">АКСЕССУАРЫ</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">КИНО</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">БРЕНДЫ</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">ИНФОРМАЦИЯ</a>
            </li>
            <li class="px-1 p-5">
              <a href="#!" class="text-white nav-link">2018-2024 Ⓒ CROSS STYLE</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0 text-white">ИНФОРМАЦИЯ</h5>
  
          <ul class="list-unstyled pt-4" style="line-height: 28px;">
            <li>
              <a href="#!" class="text-white nav-link">КОНТАКТЫ
            </li>
            <li>
              <a href="#!" class="text-white nav-link">О НАС</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">КАК ПОСМОТРЕТЬ?</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">ВОЗВРАТ</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">FAQ</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">КОНТАКТЫ</h5>
  
          <ul class="list-unstyled mb-0 pt-3" style="line-height: 28px;">
            <li>
              <a href="#!" class="text-white nav-link">8 (495) 568-12-12</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">ЧАСЫ РАБОТЫ (С 11:00 ДО 22:00)</a>
            </li>
            <li>
              <a href="#!" class="text-white nav-link">SUPPORT@NIKITAEFREMOV.COM</a>
            </li>
            <li class="px-1 p-4">
              <a href="#!" class="text-white nav-link">МОСКВА, ПЕТРОВКА 15/1 МОСКВА, ЦВЕТНОЙ БУЛЬВАР, 15, УНИВЕРМАГ "ЦВЕТНОЙ", 2 ЭТАЖ САНКТ-ПЕТЕРБУРГ, БОЛЬШАЯ КОНЮШЕННАЯ УЛ., 12</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 flex-row justify-content-center d-flex gap-2">
          <a href=""><img src="https://icons8.com/icon/li0j5FljUCfI/vk-com" alt=""></a> 
          <a href=""><img src="https://img.icons8.com/?size=100&id=60453&format=png&color=000000" alt=""></a> 
          <a href=""><img src="" alt=""></a> 
          <a href=""><img src="" alt=""></a> 

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <!-- Copyright -->
     </div>
  </footer>